include ../mixins/mixins

#dialog(title="Dialog Title")

  form.form
    +mx-input( 'login', 'text', 'Логин' )
    +mx-input( 'fio', 'text', 'ФИО' )
    +mx-input( 'email', 'text', 'E-mail')
    +mx-select( 'posada', 'Привилегия' )
