extends layout

include ./mixins/mixins
block head
  link( rel='stylesheet' href='./styles/login.css' )

block content
  section
    .form-signin(style='display: block')
      form( method='post', action='', name='userlogin', autocomplete='off')
        center
          img(src='img/help-desk-icon.png', width='128px')
          h2.text-muted База Данных
          small.text-muted Авторизация пользователя
        br
        +mx-input('login', 'text', 'Логин')
        +mx-input('password', 'password', 'Пароль')
      button#btnsend.btn.btn-lg.btn-primary.btn-block Вход

block scripts
  script( src='javascripts/login.js' )
